@media all and (min-width: 1670px) {}

@media (max-width: 1380px) {}

@media (max-width: 1200px) {
	.process-item {
		width: 100%;
	}
}

@media (min-width: 1200px) {}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: none;
	}

	.navbar .nav-item:hover .dropdown-menu {
		display: block;
	}

	.navbar .nav-item .dropdown-menu {
		margin-top: 0;
	}
}


@media all and (max-width: 992px) {
	.left-header-social {
		display: none;
	}

	.top-header-wrapper {
		flex-direction: column;
		height: auto;
		padding: 5px 0px;
	}

	.top-header-contact {
		margin-bottom: 5px;
	}

	.header .logo {
		padding: 15px 0px;
		background-color: var(--font-white);
	}

	.navbar-toggler {
		border-color: var(--theme-color-2);
		background-color: var(--theme-color-2);
	}

	.navbar-nav .dropdown-menu {
		background-color: transparent;
		border: none;
	}

	.navbar .theme-btn.btn-border-header {
		margin-bottom: 30px;
		margin-top: 20px;
	}

	.navbar-nav .dropdown-menu {
		box-shadow: none;
	}

	.navbar-nav .nav-item .nav-link {
		padding: 15px 0px;
	}

	.dropdown-menu .dropdown-item {
		padding: 8px 15px;
	}

	.navbar-collapse {
		padding-bottom: 20px;
	}

	.faq-container .accordion .accordion-item {
		width: 100%;
		margin-right: 0px;
	}

	.navbar {
		background-color: var(--font-white);
	}

	.cii-left {
		flex-direction: column;
	}

	.plans-head {
		margin-top: 25px;
		padding-top: 25px;
	}

	.plans-head-item-inner-list {
		padding-bottom: 20px;
	}

	.plans-head-item-inner-list li::before {
		font-family: Fontawesome;
		content: '\f105';
		margin-right: 10px;
	}

}

@media all and (max-width: 768px) {
	.left-header-social {
		display: none;
	}

	.top-header-wrapper {
		flex-direction: column;
		height: auto;
		padding: 5px 0px;
	}

	.top-header-contact {
		margin-bottom: 5px;
	}

	.header .logo {
		padding: 15px 0px;
		background-color: var(--font-white);
	}

	.navbar-toggler {
		border-color: var(--theme-color-2);
		background-color: var(--theme-color-2);
	}

	.navbar-nav .dropdown-menu {
		background-color: transparent;
		border: none;
	}

	.navbar .theme-btn.btn-border-header {
		margin-bottom: 30px;
		margin-top: 20px;
	}

	.theme-btn {
		max-width: 100%;
		width: 100%;
	}

	.navbar-collapse {
		padding-bottom: 20px;
	}

	.navbar-nav .nav-item .nav-link {
		padding: 15px 15px;
		color: var(--font-color);
	}

	.banner-wrapper h1 {
		font-size: 38px;
		line-height: 48px;
	}

	.faq-container .accordion .accordion-item {
		width: 100%;
		margin-right: 0px;
	}

	.footer-bottom {
		flex-direction: column;
	}

	.footer-bottom-center {
		margin: 10px 0px;
	}

	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: var(--font-color);
	}

	.bfun-factor-card {
		border-radius: 10px !important;
	}

	.navbar {
		background-color: var(--font-white);
	}

	.page-banner-wrapper {
		flex-direction: column;
	}

	.page-banner-wrapper h3 {
		margin-bottom: 10px;
	}

	.carosel-item-inner-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.cii-left {
		flex-direction: column;
	}

	.cii-right {
		width: 100%;
		margin-top: 10px;
	}

	.more-detail-btn {
		width: 100%;
	}

	.whyChoose-inner-container {
		padding: 1rem;
	}

	.whyChoose-heading-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.whyChoose-viewall {
		width: 100%;
		margin-top: 10px;
	}

	.header-request-btn {
		width: 100%;
	}

	.next-arrow,
	.prev-arrow {
		display: none !important;
	}

	.propertynews-overlay {
		top: -15px;
	}

	.project-card {
		flex-direction: column;
	}

	.project-card-image {
		width: 100%;
		margin-right: 0px;
	}

	.project-card-content {
		margin-top: 20px;
	}

	.project .slick-dots {
		display: none !important;
	}

	.section.testimonial {
		padding-top: 0px;
	}

	.testimonial-wrapper {
		padding: 1rem;
	}

	.footer-middle-links ul li {
		margin: 10px 0px 0 15px;
	}

	.footer-middle-links {
		padding: 0px 0px;
	}

	.section {
		padding: 30px 0px;
	}

	.page-banner-wrapper {
		height: 500px;
	}

	.linkCards-wrapper {
		padding: 1rem;
	}

	.about-point-wrapper ul {
		padding: 0px;
		flex-direction: column;
	}

	.about-point-item-inner {
		padding: 1rem 15px;
	}

	.pageHeading {
		padding-top: 8rem !important;
	}

	.plans-head {
		flex-direction: column;
	}

	.plans-head-item {
		margin-bottom: 20px;
		margin-top: 20px;
		margin-right: 0px;
		margin-left: 0px !important;
	}

}

@media all and (max-width: 480px) {
	.left-header-social {
		display: none;
	}

	.top-header-wrapper {
		flex-direction: column;
		height: auto;
		padding: 5px 0px;
	}

	.top-header-contact {
		margin-bottom: 5px;
	}

	.header .logo {
		padding: 15px 0px;
		background-color: var(--font-white);
	}

	.navbar-toggler {
		border-color: var(--theme-color-2);
		background-color: var(--theme-color-2);
	}

	.navbar-nav .dropdown-menu {
		background-color: transparent;
		border: none;
	}

	.navbar .theme-btn.btn-border-header {
		margin-bottom: 30px;
		margin-top: 20px;
	}

	.theme-btn {
		max-width: 100%;
		width: 100%;
	}

	.navbar-collapse {
		padding-bottom: 20px;
	}

	.navbar-nav .nav-item .nav-link {
		padding: 15px 15px;
		color: var(--font-color);
	}

	.banner-wrapper h1 {
		font-size: 38px;
		line-height: 48px;
	}

	.faq-container .accordion .accordion-item {
		width: 100%;
		margin-right: 0px;
	}

	.footer-bottom {
		flex-direction: column;
	}

	.footer-bottom-center {
		margin: 10px 0px;
	}

	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: var(--font-color);
	}

	.bfun-factor-card {
		border-radius: 10px !important;
	}

	.navbar {
		background-color: var(--font-white);
	}

	.page-banner-wrapper {
		flex-direction: column;
	}

	.page-banner-wrapper h3 {
		margin-bottom: 10px;
	}

	.carosel-item-inner-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.cii-left {
		flex-direction: column;
	}

	.cii-right {
		width: 100%;
		margin-top: 10px;
	}

	.more-detail-btn {
		width: 100%;
	}

	.whyChoose-inner-container {
		padding: 1rem;
	}

	.whyChoose-heading-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.whyChoose-viewall {
		width: 100%;
		margin-top: 10px;
	}

	.header-request-btn {
		width: 100%;
	}

	.next-arrow,
	.prev-arrow {
		display: none !important;
	}

	.propertynews-overlay {
		top: -15px;
	}

	.project-card {
		flex-direction: column;
	}

	.project-card-image {
		width: 100%;
		margin-right: 0px;
	}

	.project-card-content {
		margin-top: 20px;
	}

	.project .slick-dots {
		display: none !important;
	}

	.section.testimonial {
		padding-top: 0px;
	}

	.testimonial-wrapper {
		padding: 1rem;
	}

	.footer-middle-links ul li {
		margin: 10px 0px 0 15px;
	}

	.footer-middle-links {
		padding: 0px 0px;
	}

	.section {
		padding: 30px 0px;
	}

	.page-banner-wrapper {
		height: 500px;
	}

	.linkCards-wrapper {
		padding: 1rem;
	}

	.about-point-wrapper ul {
		padding: 0px;
		flex-direction: column;
	}

	.about-point-item-inner {
		padding: 1rem 15px;
	}

	.pageHeading {
		padding-top: 8rem !important;
	}

	.plans-head {
		flex-direction: column;
	}

	.plans-head-item {
		margin-bottom: 20px;
		margin-top: 20px;
		margin-right: 0px;
		margin-left: 0px !important;
	}
}